.Ride-Feed-Container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.Ride-Feed-Container h1 {
  color: white;
  margin: 10% 0%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-transform: capitalize;
}

.Passenger-Profile-Button {
  background-color: #36648b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  width: 100%;
  color: white;
  padding: 10px 20px;
  margin-top: 5%;
  position: fixed;
  bottom: 0;
  height: 8%;
}
