.Ride-Container {
  width: 80%;
  height: auto;
  background-color: white;
  padding: 5% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0%;
}

.Ride-Information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.Ride-Information h3 {
  color: #36648b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 2.5%;
}

.Ride-Destination {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #36648b;
  font-style: italic;
  padding: 1%;
  text-align: left;
  align-self: flex-start;
}

.Ride-Destination span {
  font-weight: bold;
  font-style: normal;
}

.Ride-Costs {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: grey;
  margin-top: 5%;
}

.RSVP-button {
  background-color: #36648b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  margin-top: 5%;
}
